openapi: 3.0.0
info:
  title: Students
  description:  |
    Information about a person who has, or is eligible to, register/enroll at the institution as a student.

  version: '16.0.0'
servers:
- url: https://integrate.elluciancloud.com/api
  description: Ethos Integration 
tags:
- name: students
paths:
  /students:
    get:
      summary: Returns resources from SGBSTDN 
      description: |
        Returns a paged listing of all the student records from SGBSTDN table.
      security:
        - BearerAuth: []
      tags:
        - students
      parameters:
        - name: accept
          in: header
          required: true
          description:  |
            The version of the resource requested. Prefer to use only the whole MAJOR version.  See the semantic versioning topic in the API Standards from more information.
            ```
            application/vnd.hedtech.integration.v16+json
            ```
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000.
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          description: The 0 based index for a collection of resources for the page requested.
          schema:
            type: integer
        - name: criteria
          in: query
          required: false
          schema:
            type: object
          description: |
            ### Person  
            The person who has, or is eligible to, register/enroll at the institution as a student.
            ```
            /students?criteria={"person": {"id": "5674f28b-b216-4055-b236-81a922d93b4c"}}
            ```
            ### Type  
            The type of student.
            ```
            /students?criteria={"types":[{"type":{"id": "d8c8acc6-f4c0-4012-bbf3-c31d13f15f9f"}}]}
            ```
            ### Residency  
            The residency type associated with the student.
            ```
            /students?criteria={"residencies":[{"residency":{"id": "0b7035b4-20a7-4f6f-8a40-a8bd823a222c"}}]}
            ```

        - name: personFilter
          in: query
          required: false
          schema:
            type: object
          description: |
            ### Person Filter  
            Retrieve information for a specified population.
            ```
            /students?personFilter={"personFilter": {"id": "2f3aac5e-305a-4dec-8f8e-6056c0270101"}}
            ```
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v16.0.0+json
              schema:
                type: string
            X-Total-Count:
              description: Specifies the total number of resources that satisfy the query.
              schema:
                type: integer
        '400':
          description: Bad Request 
        '401':
          description: Unauthorized  
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data

  /students/{id}:
    get:
      summary: Return the requested resource from SGBSTDN 
      description:  |
        Returns a single student record with the requested identifier.
        
        
      security:
        - BearerAuth: []
      tags:
        - students
      parameters:
        - name: id
          in: path
          required: true
          description: A global identifier of the resource for use in all external references
          schema:
            type: string
            format: GUID
            minimum: 1
        - name: accept
          in: header
          required: true
          description:  |
            The version of the resource requested. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v16+json
            ```
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v16.0.0+json
              schema:
                type: string
        '400':
          description: Bad Request 
        '401':
          description: Unauthorized  
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data


components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer