openapi: 3.0.0
info:
  title: Academic Catalogs
  description: All academic catalog identifiers defined by the institution that represents the student's academic catalog term on program and field of study records.
  version: '6.1.0'
tags:
  - name: Banner
    description: ERP type
  - name: EEDM
    description: Type of API   
  - name: Student
    description: The domain of this API
x-tagGroups:
  - name: Product
    tags:
      - Banner
      - Colleague
  - name: API Type
    tags: 
      - EEDM
      - Business
  - name: Domain
      - Advancement
      - Foundation
      - Finance
      - Student
servers:
- url: https://integrate.elluciancloud.com/api
  description: Ethos Integration
paths:
  /academic-catalogs:
    get:
      summary: Returns all resources from STVTERM.
      description: Returns all academic catalog records from STVTERM table.
      security:
        - BearerAuth: []
      tags:
        - academic-catalogs
      parameters:
        - name: accept
          in: header
          required: true
          description:  |
            The version of the resource requested. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v6+json
            ```
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: | 
            The maximum number of resources requesting for this result set.\
            The default limit is 500 and the maximum limit is 1000.
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          description: The 0 based index for a collection of resources for the page requested.
          schema:
            type: integer
        - name: criteria
          in: query
          required: false
          schema:
            type: object
          description: |
            ### N/A  
        - name: sort
          in: query
          required: false
          schema:
            type: object
          description: |
            ### N/A  


      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v6.1.0+json
              schema:
                type: string
            X-Total-Count:
              description: Specifies the total number of resources that satisfy the query.
              schema:
                type: integer
        '401':
          description: Unauthorized
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data
  /academic-catalogs/{id}:
    get:
      summary: Returns the requested resource from STVTERM
      description: Returns an academic catalog record from STVTERM table for the passed in identifier.
      security:
        - BearerAuth: []
      tags:
        - academic-catalogs
      parameters:
        - name: id
          in: path
          required: true
          description: A global identifier of an academic catalog for use in all external references.
          schema:
            type: string
            format: GUID
            minimum: 1
        - name: accept
          in: header
          required: true
          description:  |
            The version of the resource requested. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v6+json
            ```
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v6.1.0+json
              schema:
                type: string
        '401':
          description: Unauthorized
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer