openapi: 3.0.0
info:
  title: Academic Periods
  description:  |
    A specified interval of time used by higher education institutions (for example, Academic Year or Term).
  version: '16.1.0'
servers:
- url: https://integrate.elluciancloud.com/api
  description: Ethos Integration 
paths:
  /academic-periods:
    get:
      summary: Returns resources 
      description: |
        Returns a paged listing of all the academic period records of category year, term and subterm.
        
        The year records are retrieved from STVACYR table, the term records are retrieved from STVTERM table, the subterm records of type part of term are retrieved from STVPTRM table and subterm records with Open Learning rules are retrieved from SOBODTE table.
      security:
        - BearerAuth: []
      tags:
        - academic-periods
      parameters:
        - name: accept
          in: header
          required: true
          description:  |
            The version of the resource requested. Prefer to use only the whole MAJOR version.  See the semantic versioning topic in the API Standards from more information.
            ```
            application/vnd.hedtech.integration.v16+json
            ```
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000.
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          description: The 0 based index for a collection of resources for the page requested.
          schema:
            type: integer
        - name: criteria
          in: query
          required: false
          schema:
            type: object
          description: |
            ### Registration  
            Returns all academic periods for the registration passed.
            ```
            /academic-periods?criteria={"registration":"open"}
            ```
            ### Code  
            Returns all academic periods for the code passed.
            ```
            /academic-periods?criteria={"code":"201410"}
            ```
            ### Category Type  
            Returns all academic periods for the category passed.
            ```
            /academic-periods?criteria={"category":{"type":"term"}}
            ```
            ### StartOn  
            Supported operators are $gte or the default of equals if operator is not specified.
            
            Returns all academic periods for the start on date passed.
            ```
            /academic-periods?criteria={"startOn":"2016-03-07T00:00:00Z"}
            ```
            ```
            /academic-periods?criteria={"startOn":{"$eq":"2016-03-07T00:00:00Z"}}
            ```
            Returns all academic periods with start date greater than or equals to the start on date passed.
            ```
            /academic-periods?criteria={"startOn":{"$gte":"2016-03-07T00:00:00Z"}}
            ```
            ### EndOn  
            Supported operators are $lte or the default of equals if operator is not specified.
            
            Returns all academic periods for the end on date passed.
            ```
            /academic-periods?criteria={"endOn":"2025-09-30T00:00:00Z"}
            ```
            ```
            /academic-periods?criteria={"endOn":{"$eq":"2025-09-30T00:00:00Z"}}
            ```
            Returns all academic periods with end date less than or equals to the end on date passed.
            ```
            /academic-periods?criteria={"endOn":{"$lte":"2025-09-30T00:00:00Z"}}
            ```

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v16.1.0+json
              schema:
                type: string
            X-Total-Count:
              description: Specifies the total number of resources that satisfy the query.
              schema:
                type: integer
        '400':
          description: Bad Request 
        '401':
          description: Unauthorized  
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data
  /academic-periods/{id}:
    get:
      summary: Return the requested resource 
      description:  |
        Returns a single academic period record with the requested identifier.
        
      security:
        - BearerAuth: []
      tags:
        - academic-periods
      parameters:
        - name: id
          in: path
          required: true
          description: A global identifier of the resource for use in all external references
          schema:
            type: string
            format: GUID
            minimum: 1
        - name: accept
          in: header
          required: true
          description:  |
            The version of the resource requested. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v16+json
            ```
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v16.1.0+json
              schema:
                type: string
        '400':
          description: Bad Request 
        '401':
          description: Unauthorized  
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer