openapi: 3.0.0
info:
  title: Sections
  description:  |
        A section is an instance of a course that is used to group students interested in taking the course. When students are enrolled in a course, they are actually enrolled in one of the sections of that course. All sections of a course share the same content associated with the course. Banner supports both traditional sections and open Learning (OLR) sections.
        
        A traditional section in Banner is defined as a section that is tied to a part of term and term code. An open learning (OLR) section in Banner is defined as a section that is tied to a term code
        
        This API version supports mapping multiple Banner status codes and duration unit values to a single Ethos enumeration in API configuration settings. The API configuration setting SECTIONDETAIL.STATUS.V4 can be used to map multiple Banner status codes in STVSSTS_CODE to a valid status.category enumeration. The API configuration setting SECTIONDETAIL.DURATION.UNIT.V4 can be used to map multiple Banner duration unit values in GTVDUNT_CODE to a valid duration.unit enumeration. Please refer to "Map multiple Banner values to an Ethos enumeration" section in Banner Ethos API handbook for details on API behavior when multiple mappings are available in these settings for the same Ethos enumeration.
        

  version: '16.0.0'
servers:
- url: https://integrate.elluciancloud.com/api
  description: Ethos Integration 
tags:
- name: sections
paths:
  /sections:
    get:
      summary: Returns resources from SSBSECT 
      description: |
        Returns a paged listing of section records from SSBSECT.
      security:
        - BearerAuth: []
      tags:
        - sections
      parameters:
        - name: accept
          in: header
          required: true
          description:  |
            The version of the resource requested. Prefer to use only the whole MAJOR version.  See the semantic versioning topic in the API Standards from more information.
            ```
            application/vnd.hedtech.integration.v16+json
            ```
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: The maximum number of resources requesting for this result set. Default page limit is 250 and upper limit is 500.
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          description: The 0 based index for a collection of resources for the page requested.
          schema:
            type: integer
        - name: criteria
          in: query
          required: false
          schema:
            type: object
          description: |
            ### Titles Value  
            The title for the section associated with the type.
            ```
            /sections?criteria={"titles":[{"value":"Astronomy Lab"}]}
            ```
            ### Start On  
            The starting date at which a section may be scheduled to be taken.
            ```
            /sections?criteria={"startOn": "2015-08-29"}
            ```
            ### End On  
            The ending date at which a section may no longer be scheduled to be taken.
            ```
            /sections?criteria={"endOn": "2025-08-29"}
            ```
            ### Code  
            A code that may be used to identify a section
            ```
            /sections?criteria={"code": "10001"}
            ```
            ### Number  
            A numbering scheme or other mark that distinguishes between multiple sections.
            ```
            /sections?criteria={"number": "1"}
            ```
            ### Instructional Platform  
            A technology platform used to manage the administration of a section.
            ```
            /sections?criteria={"instructionalPlatform": {"id": "80d49491-00ff-483e-aab5-da76fea6528d"}}
            ```
            ### Academic Period  
            The academic time period associated with a section.
            ```
            /sections?criteria={"academicPeriod": {"id": "8b5f95a3-677f-4846-a329-3eb54a670111"}}
            ```
            ### Course  
            The smallest unit of instruction for which an organization grants credits.
            ```
            /sections?criteria={"course": {"id": "39e7cfb1-e045-44d1-8446-7e3d55a33ea0"}}
            ```
            ### Academic Levels  
            The levels of academic progress that can be associated with a section.
            ```
            /sections?criteria={"academicLevels": [{"id": "c6aab4d0-d3c7-40d9-96a6-09db8deaf403"}]}
            ```
            ### Site  
            The primary location within the organization where a section's meetings will be held.
            ```
            /sections?criteria={"site": {"id": "0ed94aa2-dc31-494c-99a7-f4c272fa6416"}}
            ```
            ### Status Category  
            The category of the section status.
            ```
            /sections?criteria={"status":{"category":"open"}}
            ```
            ### Owning Institution Units  
            The units (departments) of the educational institution which own, or are responsible for, a course
            ```
            /sections?criteria={"owningInstitutionUnits": [{"institutionUnit":{"id":"b23bb183-7d73-4726-af1b-661510324c88"}}]}
            ```
            ### Reporting Academic Period  
            The reporting academic period associated with the section.
            ```
            /sections?criteria={"reportingAcademicPeriod": {"id": "060d0dd1-75aa-4c43-989c-0015b6f01d6e"}}
            ```
        - name: searchable
          in: query
          required: false
          schema:
            type: object
          description: |
            ### Searchable  
            Not Supported
            ```
            /sections?searchable={"searchable": {$searchable}}
            ```
        - name: keywordSearch
          in: query
          required: false
          schema:
            type: object
          description: |
            ### Keyword Search  
            Perform a keyword search
            ```
            /sections?keywordSearch={"keywordSearch": "Science"}
            ```
        - name: subject
          in: query
          required: false
          schema:
            type: object
          description: |
            ### Subject  
            Filter to return subject associated with a section.
            ```
            /sections?subject={"subject": {"id": "70e3fdb8-1a06-416f-bb76-f78da649d6e1"}}
            ```
        - name: instructor
          in: query
          required: false
          schema:
            type: object
          description: |
            ### Instructor  
            Filter to return instructor associated with a section.
            ```
            /sections?instructor={"instructor": {"id": "cb3ebfe9-4a31-4933-a504-04d110413a61"}}
            ```

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v16.0.0+json
              schema:
                type: string
            X-Total-Count:
              description: Specifies the total number of resources that satisfy the query.
              schema:
                type: integer
        '400':
          description: Bad Request 
        '401':
          description: Unauthorized  
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data
    post:
      summary: Create a new resource in SSBSECT 
      description:  |
        POST requests must include a nil GUID value ("00000000-0000-0000-0000-000000000000") for the root id property.

        Creates a new section record in SSBSECT with given data in the request body. A create request sent with academic period GUID that is a part of term will create a traditional section. A create request sent with academic period GUID that is an SOBODTE rule will create an open learning section.
        
        Minimum required properties for a open learning (OLR) section POST request:  id, titles, startOn, course, instructionalMethods, academicPeriod, duration
        
        Minimum required properties for a traditional section POST request: id, titles, startOn, course, instructionalMethods, academicPeriod
        
        Below are the API behavior details for titles, description, startOn, endOn, code, number, censusDates, creditType and owningInstitutionUnits properties on a create request:
        
        Titles:
        
        - The API accepts 4 types of titles - short title and long title of the section, short title and long title of the course associated with the section.
        - The section short title sent in the request should not exceed 30 characters, similarly the section long title sent in the request should not exceed •0 characters.
        - The course short title and long title sent in the request should match the titles of the course record, else the API rejects the request with an error message.
        
        Description:
        
        - The API supports 3 types of descriptions - short, long and schedule.
        - Short description is restricted to 60 characters, if more than 60 characters is sent in the request then the API inserts additional record in SSRTEXT table.
        - If schedule type description is sent, the create request is rejected with an error message.
        
        startOn & endOn:
        
        - For a traditional section - If section override indicator SOBPTRM_SECT_OVER_IND is set to 'Y' then the startOn date is stored in SSBSECT_PTRM_START_DATE, else if SOBPTRM_SECT_OVER_IND is 'N' then the create request is rejected with an error message.
        - For a traditional section - If section override indicator SOBPTRM_SECT_OVER_IND is set to 'Y' then the endOn date is stored in SSBSECT_PTRM_END_DATE, else if SOBPTRM_SECT_OVER_IND is 'N' then the create request is rejected with an error message.
        - For an open learning section, the learner start date in SSBSECT_LEARNER_REGSTART_FDATE and end date in SSBSECT_LEARNER_REGSTART_TDATE can be adjusted regardless of the override setting SOBODTE_OVERRIDE_IND.
        
        Code:
        
        - If the value mapped in API configuration setting 'SECTION.EXTERNAL.CRN.ALLOW' is 'Y', then the POST request allows an external partner to send in a predetermined CRN in the code property. If code is not sent in the request then the API uses Banner baseline one-up function to uniquely generate a CRN.
        - When the API configuration setting is set to 'Y' - The CRN sent in the request will be accepted only if the provided value is less than the one-up defined in SOBTERM_CRN_ONEUP and is  unique to the term in SSBSECT table.
        - If the value mapped in API configuration setting 'SECTION.EXTERNAL.CRN.ALLOW' is 'N', then the POST request will not allow an external partner to send in a predetermined CRN. The API uses Banner baseline one-up function to uniquely generate a CRN. If code property is sent in the request then the create request is rejected with an error message.
        
        Number:
        
        - If the number value provided is equal to 0, there can be multiple sections in SSBSECT for the same subject, course number, term, sequence number.
        - If the number value provided is not equal to 0, there can be only one section in SSBSECT for the same subject, course number, term, sequence number. If another section with the same term, course number and sequence number is found, then the create request is rejected with an error message.
        
        Census Dates:
        
        - Census dates for a traditional section is dependent on the override indicator - SOBPTRM_SECT_OVER_IND. When SOBPTRM_SECT_OVER_IND = 'Y', a create request will be rejected if more than 2 census dates are sent. When SOBPTRM_SECT_OVER_IND = 'N', the request is rejected with an error message that overrides are not permitted.
        - Census dates for an open learning section is dependent on the override indicator - SOBODTE_OVERRIDE_IND. When SOBODTE_OVERRIDE_IND = 'Y', a create request will be rejected if more than 2 census dates are sent. When SOBODTE_OVERRIDE_IND = 'N', the request is rejected with an error message that overrides are not permitted.
        
        Credit Type:
        
        - The API supports academic credit category of type 'ce' and 'institution' only.
        - If the value sent in the create request does not match the credit type associated with the course record, request is rejected with an error message.
        
        Owning Institution Units:
        
        - Banner can only accommodate one college, one division, and one department entry. If more than one owning institution unit of each type is sent in the owningIntitutionUnits array, the request is requested with an error message.
        - The college, division and department values sent in the request is compared with the course record in SCBCRSE effective for the the section term. If the values sent in the request do not match with course value then college, division and department information is stored in SSBOVRR table.
        
      security:
        - BearerAuth: []
      tags:
        - sections
      parameters:
        - name: accept
          in: header
          required: true
          description:  |
            The version of the resource requested. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v16+json
            ```
          schema:
            type: string
        - name: content type
          in: header
          required: true
          description:  |
            The version of the resource supplied in the request. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v16+json
            ```
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v16.0.0+json
              schema:
                type: string
        '400':
          description: Bad Request 
        '401':
          description: Unauthorized  
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data

  /sections/{id}:
    get:
      summary: Return the requested resource from SSBSECT 
      description:  |
        Returns a single section record from SSBSECT with the requested identifier
      security:
        - BearerAuth: []
      tags:
        - sections
      parameters:
        - name: id
          in: path
          required: true
          description: A global identifier of the resource for use in all external references
          schema:
            type: string
            format: GUID
            minimum: 1
        - name: accept
          in: header
          required: true
          description:  |
            The version of the resource requested. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v16+json
            ```
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v16.0.0+json
              schema:
                type: string
        '400':
          description: Bad Request 
        '401':
          description: Unauthorized  
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data

    put:
      summary: Update the requested resource from SSBSECT 
      description:  |
        Updates an existing section record. Note that the properties titles (courseShort & courseLong), code, course, academicPeriod, credits, academicLevels, reservedSeatsMaximum and alternateIds cannot be changed
        
        Please refer to the notes in POST section of this document for API behavior details on titles, description, startOn, endOn, code, number, censusDates, creditType and owningInstitutionUnits properties.
        
        Minimum required properties for a open learning (OLR) section PUT request:  id, titles, startOn, course, instructionalMethods, academicPeriod, duration
        
        Minimum required properties for a traditional section PUT request: id, titles, startOn, course, instructionalMethods, academicPeriod
        
        
        
        
      security:
        - BearerAuth: []
      tags:
        - sections
      parameters:
        - name: id
          in: path
          required: true
          description: A global identifier of Sections for use in all external references
          schema:
            type: string
            format: GUID
            minimum: 1
        - name: accept
          in: header
          required: true
          description:  |
            The version of the resource requested. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v16+json 
            ```
          schema:
            type: string
        - name: content type
          in: header
          required: true
          description:  |
            The version of the resource supplied in the request. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v16+json 
            ```
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v16.0.0+json
              schema:
                type: string
        '400':
          description: Bad Request 
        '401':
          description: Unauthorized  
        '403':
          description: Permission Denied
        '500':
          description: Server error, unexpected configuration or data

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer