openapi: 3.0.0
info:
  title: Academic Credentials
  description:  |
    An award that recognizes the completion of a specified course of study.
  version: '6.0'
servers:
- url: https://integrate.elluciancloud.com/api
  description: Ethos Integration 
paths:
  /academic-credentials:
    get:
      summary: Returns resources from STVDPLM and STVDEGC
      description: |
        Returns a paged listing of all the academic credential records from STVDPLM and STVDEGC tables.
        
        The academic credential records of type diploma are retrieved from STVDPLM table. The academic credential records of type degree, honorary and certificate are retrieved from STVDEGC table.
      security:
        - BearerAuth: []
      tags:
        - academic-credentials
      parameters:
        - name: accept
          in: header
          required: true
          description:  |
            The version of the resource requested. Prefer to use only the whole MAJOR version.  See the semantic versioning topic in the API Standards from more information.
            ```
            application/vnd.hedtech.integration.v6+json
            ```
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: The maximum number of resources requesting for this result set. Default page limit is 500 and upper limit is 1000.
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          description: The 0 based index for a collection of resources for the page requested.
          schema:
            type: integer
        - name: criteria
          in: query
          required: false
          schema:
            type: object
          description: |
            ### Type  
            Returns all academic credentials for the specific credential type i.e. degree, honorary, diploma, certificate passed.
            ```
            /api/academic-credentials?type=degree
            ```


      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v6+json
              schema:
                type: string
            X-Total-Count:
              description: Specifies the total number of resources that satisfy the query.
              schema:
                type: integer
        '400':
          description: Bad Request 
        '401':
          description: Unauthorized  
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data
    post:
      summary: Create a new resource in STVDPLM and STVDEGC
      description:  |
        POST requests must include a nil GUID value ("00000000-0000-0000-0000-000000000000") for the root id property.

        In addition to the required properties defined in the data model, the following are required for a POST request: abbreviation

        Creates a new academic credentials record.
        
        If 'type' property in the POST request is sent as diploma, then the academic credential record in created in STVDPLM table. If 'type' property in the POST request is sent as degree, honorary or certificate, then the academic credential record in created in STVDEGC table.
        
      security:
        - BearerAuth: []
      tags:
        - academic-credentials
      parameters:
        - name: accept
          in: header
          required: true
          description:  |
            The version of the resource requested. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v6+json
            ```
          schema:
            type: string
        - name: content type
          in: header
          required: true
          description:  |
            The version of the resource supplied in the request. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v6+json
            ```
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v6+json
              schema:
                type: string
        '400':
          description: Bad Request 
        '401':
          description: Unauthorized  
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data
  /academic-credentials/{id}:
    get:
      summary: Return the requested resource 
      description:  |
        Returns a single academic credential record with the requested identifier.
      security:
        - BearerAuth: []
      tags:
        - academic-credentials
      parameters:
        - name: id
          in: path
          required: true
          description: A global identifier of the resource for use in all external references
          schema:
            type: string
            format: GUID
            minimum: 1
        - name: accept
          in: header
          required: true
          description:  |
            The version of the resource requested. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v6+json
            ```
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v6+json
              schema:
                type: string
        '400':
          description: Bad Request 
        '401':
          description: Unauthorized  
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Server error, unexpected configuration or data
    put:
      summary: Update the requested resource 
      description:  |
        Updates an existing academic credential record with the passed in identifier.
        
        
      security:
        - BearerAuth: []
      tags:
        - academic-credentials
      parameters:
        - name: id
          in: path
          required: true
          description: A global identifier of Academic Credentials for use in all external references
          schema:
            type: string
            format: GUID
            minimum: 1
        - name: accept
          in: header
          required: true
          description:  |
            The version of the resource requested. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v6+json 
            ```
          schema:
            type: string
        - name: content type
          in: header
          required: true
          description:  |
            The version of the resource supplied in the request. Please refer to the API source documentation for detailed support information. Prefer to use only the whole MAJOR version. 
            ```
            application/vnd.hedtech.integration.v6+json 
            ```
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v6+json
              schema:
                type: string
        '400':
          description: Bad Request 
        '401':
          description: Unauthorized  
        '403':
          description: Permission Denied
        '500':
          description: Server error, unexpected configuration or data
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer