openapi: 3.0.0
info:
  title: miscellaneous-transaction
  description: API for TFAMISC administrative page
  version: 1.0.0
  x-source-name: TFAMISC
  x-source-title: Miscellaneous Transaction Form - Finance
  x-source-system: Banner
  x-api-type: Administrative
servers:
- url: https://integrate.elluciancloud.com
  description: Ethos Integration API U.S.
- url: https://integrate.elluciancloud.ca
  description: Ethos Integration API Canada
- url: https://integrate.elluciancloud.com
  description: Ethos Integration API Europe
- url: https://integrate.elluciancloud.com.au
  description: Ethos Integration API Asia-Pacific
paths:
  /api/miscellaneous-transaction:
    get:
      tags:
      - miscellaneous-transaction
      summary: Return resources from TFAMISC
      parameters:
      - name: limit
        in: query
        description: The maximum number of resources requesting for this result set.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The 0 based index for a collection of resources for the page
          requested.
        required: false
        schema:
          type: integer
      - name: criteria
        in: query
        description: The filter criteria. Must be a JSON representation of the property
          searching for.  This can be any of the properties listed on the URL or QAPI
          and must be a json representation that can be validated against the GET
          schema.
        required: false
        schema:
          type: string
      - name: X-SDE-Expand
        in: header
        description: The comma seperated value list of block names
        required: false
        schema:
          type: string
      - name: receiptNumber
        in: query
        required: false
        schema:
          type: string
      - name: documentNumber
        in: query
        required: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-Media-Type:
              description: The full semantic version with the media type of the response
              schema:
                type: string
            X-STP-Code:
              description: If STP (MEP) is enabled, returns the MEP code the response
                body is associated to
              schema:
                type: string
            X-SDE-Enabled:
              description: If SDE is enabled for this page
              schema:
                type: string
          content:
            application/vnd.hedtech.integration.v1.0.0+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/miscellaneous-transaction-1.0.0_get'
        '401':
          description: Failure. Unauthorized
        '500':
          description: Error
          content:
            application/vnd.hedtech.integration.errors.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/errors-2.0.0'
    post:
      tags:
      - miscellaneous-transaction
      summary: Creates a new resource in TFAMISC
      parameters:
      - name: limit
        in: query
        description: The maximum number of resources requesting for this result set.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The 0 based index for a collection of resources for the page
          requested.
        required: false
        schema:
          type: integer
      - name: criteria
        in: query
        description: The filter criteria. Must be a JSON representation of the property
          searching for.  This can be any of the properties listed on the URL or QAPI
          and must be a json representation that can be validated against the GET
          schema.
        required: false
        schema:
          type: string
      - name: X-SDE-Expand
        in: header
        description: The comma seperated value list of block names
        required: false
        schema:
          type: string
      - name: workDetailCode
        in: query
        required: true
        schema:
          type: string
      - name: desc
        in: query
        required: true
        schema:
          type: string
      - name: drCrInd
        in: query
        required: true
        schema:
          type: string
      - name: amount
        in: query
        required: false
        schema:
          type: string
      - name: CrInd
        in: query
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: houseNumber
        in: query
        required: false
        schema:
          type: string
      - name: streetLine1
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/vnd.hedtech.integration.v1.0.0+json:
            example:
              value:
                streetLine1: sample
                amount: '12'
                CrInd: C
                name: sample
                houseNumber: '2'
                drCrInd: D
                workDetailCode: CASH
                desc: CASH 000
      responses:
        '200':
          description: OK
          headers:
            X-Media-Type:
              description: The full semantic version with the media type of the response
              schema:
                type: string
            X-STP-Code:
              description: If STP (MEP) is enabled, returns the MEP code the response
                body is associated to
              schema:
                type: string
            X-SDE-Enabled:
              description: If SDE is enabled for this page
              schema:
                type: string
          content:
            application/vnd.hedtech.integration.v1.0.0+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/miscellaneous-transaction-1.0.0_post'
        '401':
          description: Failure. Unauthorized
        '500':
          description: Error
          content:
            application/vnd.hedtech.integration.errors.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/errors-2.0.0'
  /qapi/miscellaneous-transaction:
    post:
      tags:
      - miscellaneous-transaction QAPI (Query by POST)
      summary: Return resources from TFAMISC
      parameters:
      - name: content type
        in: header
        required: true
        content:
          application/vnd.hedtech.integration.v1.0.0+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/miscellaneous-transaction-1.0.0_qapi_post'
      requestBody:
        content:
          application/vnd.hedtech.integration.v1.0.0+json:
            example:
              value:
                streetLine1: sample
                amount: '12'
                CrInd: C
                name: sample
                houseNumber: '2'
                drCrInd: D
                workDetailCode: CASH
                desc: CASH 000
      responses:
        '200':
          description: OK
          headers:
            X-Media-Type:
              description: The full semantic version with the media type of the response
              schema:
                type: string
            X-STP-Code:
              description: If STP (MEP) is enabled, returns the MEP code the response
                body is associated to
              schema:
                type: string
            X-SDE-Enabled:
              description: If SDE is enabled for this page
              schema:
                type: string
          content:
            application/vnd.hedtech.integration.v1.0.0+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/miscellaneous-transaction-1.0.0_get'
        '401':
          description: Failure. Unauthorized
        '500':
          description: Error
          content:
            application/vnd.hedtech.integration.errors.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/errors-2.0.0'
components:
  schemas:
    miscellaneous-transaction-1.0.0_post:
      type: object
      properties:
        natnDesc:
          maxLength: 30
          type: string
        streetLine2:
          title: Street Line 2
          maxLength: 75
          type: string
          description: Lineage reference object of TBBMISC_STREET_LINE2
          x-lineageReferenceObject: TBBMISC_STREET_LINE2
        zip:
          title: ZIP or Postal Code
          maxLength: 30
          type: string
          description: Lineage reference object of TBBMISC_ZIP, Lookup lineage reference
            object of gtvzipc
          x-lineageReferenceObject: TBBMISC_ZIP
          x-lineageLookupReferenceObject: gtvzipc
        streetLine1:
          title: Street Line 1
          maxLength: 75
          type: string
          description: Lineage reference object of TBBMISC_STREET_LINE1
          x-lineageReferenceObject: TBBMISC_STREET_LINE1
        statCode:
          title: State or Province
          maxLength: 3
          type: string
          description: Lineage reference object of TBBMISC_STAT_CODE, Lookup lineage
            reference object of stvstat
          x-lineageReferenceObject: TBBMISC_STAT_CODE
          x-lineageLookupReferenceObject: stvstat
        natnCode:
          title: Nation
          maxLength: 5
          type: string
          description: Lineage reference object of TBBMISC_NATN_CODE, Lookup lineage
            reference object of stvnatn
          x-lineageReferenceObject: TBBMISC_NATN_CODE
          x-lineageLookupReferenceObject: stvnatn
        city:
          title: City
          maxLength: 50
          type: string
          description: Lineage reference object of TBBMISC_CITY
          x-lineageReferenceObject: TBBMISC_CITY
        streetLine4:
          title: Street Line 4
          maxLength: 75
          type: string
          description: Lineage reference object of TBBMISC_STREET_LINE4
          x-lineageReferenceObject: TBBMISC_STREET_LINE4
        streetLine3:
          title: Street Line 3
          maxLength: 75
          type: string
          description: Lineage reference object of TBBMISC_STREET_LINE3
          x-lineageReferenceObject: TBBMISC_STREET_LINE3
        houseNumber:
          title: House Number
          maxLength: 10
          type: string
          description: Lineage reference object of TBBMISC_HOUSE_NUMBER
          x-lineageReferenceObject: TBBMISC_HOUSE_NUMBER
        createSource:
          title: Create Source
          maxLength: 30
          type: string
          description: Lineage reference object of TBBMISC_CREATE_SOURCE
          x-lineageReferenceObject: TBBMISC_CREATE_SOURCE
        name:
          title: Name
          maxLength: 30
          type: string
          description: Lineage reference object of TBBMISC_NAME
          x-lineageReferenceObject: TBBMISC_NAME
        atypCode:
          title: Address Type
          maxLength: 2
          type: string
        atypSeqno:
          title: Sequence Number
          maxLength: 2
          type: number
      additionalProperties: false
      x-lineageReferenceObject: tbbmisc
    errors-2.0.0:
      required:
      - errors
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
              description:
                type: string
    miscellaneous-transaction-1.0.0_get:
      type: object
      properties:
        natnDesc:
          maxLength: 30
          type: string
        streetLine2:
          title: Street Line 2
          maxLength: 75
          type: string
          description: Lineage reference object of TBBMISC_STREET_LINE2
          x-lineageReferenceObject: TBBMISC_STREET_LINE2
        zip:
          title: ZIP or Postal Code
          maxLength: 30
          type: string
          description: Lineage reference object of TBBMISC_ZIP, Lookup lineage reference
            object of gtvzipc
          x-lineageReferenceObject: TBBMISC_ZIP
          x-lineageLookupReferenceObject: gtvzipc
        streetLine1:
          title: Street Line 1
          maxLength: 75
          type: string
          description: Lineage reference object of TBBMISC_STREET_LINE1
          x-lineageReferenceObject: TBBMISC_STREET_LINE1
        statCode:
          title: State or Province
          maxLength: 3
          type: string
          description: Lineage reference object of TBBMISC_STAT_CODE, Lookup lineage
            reference object of stvstat
          x-lineageReferenceObject: TBBMISC_STAT_CODE
          x-lineageLookupReferenceObject: stvstat
        natnCode:
          title: Nation
          maxLength: 5
          type: string
          description: Lineage reference object of TBBMISC_NATN_CODE, Lookup lineage
            reference object of stvnatn
          x-lineageReferenceObject: TBBMISC_NATN_CODE
          x-lineageLookupReferenceObject: stvnatn
        city:
          title: City
          maxLength: 50
          type: string
          description: Lineage reference object of TBBMISC_CITY
          x-lineageReferenceObject: TBBMISC_CITY
        streetLine4:
          title: Street Line 4
          maxLength: 75
          type: string
          description: Lineage reference object of TBBMISC_STREET_LINE4
          x-lineageReferenceObject: TBBMISC_STREET_LINE4
        streetLine3:
          title: Street Line 3
          maxLength: 75
          type: string
          description: Lineage reference object of TBBMISC_STREET_LINE3
          x-lineageReferenceObject: TBBMISC_STREET_LINE3
        houseNumber:
          title: House Number
          maxLength: 10
          type: string
          description: Lineage reference object of TBBMISC_HOUSE_NUMBER
          x-lineageReferenceObject: TBBMISC_HOUSE_NUMBER
        createSource:
          title: Create Source
          maxLength: 30
          type: string
          description: Lineage reference object of TBBMISC_CREATE_SOURCE
          x-lineageReferenceObject: TBBMISC_CREATE_SOURCE
        name:
          title: Name
          maxLength: 30
          type: string
          description: Lineage reference object of TBBMISC_NAME
          x-lineageReferenceObject: TBBMISC_NAME
        atypCode:
          title: Address Type
          maxLength: 2
          type: string
        atypSeqno:
          title: Sequence Number
          maxLength: 2
          type: number
      additionalProperties: false
      x-lineageReferenceObject: tbbmisc
    miscellaneous-transaction-1.0.0_qapi_post:
      type: object
      properties:
        receiptNumber:
          type: string
        documentNumber:
          type: string
        id:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer