openapi: 3.0.0
info:
  title: partition-codes
  description: API for GTVPARS administrative page
  version: 1.0.0
  x-source-name: GTVPARS
  x-source-title: Partition Code Validation
  x-source-system: Banner
  x-api-type: Administrative
servers:
- url: https://integrate.elluciancloud.com
  description: Ethos Integration API U.S.
- url: https://integrate.elluciancloud.ca
  description: Ethos Integration API Canada
- url: https://integrate.elluciancloud.com
  description: Ethos Integration API Europe
- url: https://integrate.elluciancloud.com.au
  description: Ethos Integration API Asia-Pacific
paths:
  /api/partition-codes:
    get:
      tags:
      - partition-codes
      summary: Return resources from GTVPARS
      parameters:
      - name: limit
        in: query
        description: The maximum number of resources requesting for this result set.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The 0 based index for a collection of resources for the page
          requested.
        required: false
        schema:
          type: integer
      - name: criteria
        in: query
        description: The filter criteria. Must be a JSON representation of the property
          searching for.  This can be any of the properties listed on the URL or QAPI
          and must be a json representation that can be validated against the GET
          schema.
        required: false
        schema:
          type: string
      - name: X-SDE-Expand
        in: header
        description: The comma seperated value list of block names
        required: false
        schema:
          type: string
      - name: activityDate
        in: query
        required: false
        schema:
          type: string
      - name: campCode
        in: query
        required: false
        schema:
          type: string
      - name: code
        in: query
        required: false
        schema:
          type: string
      - name: desc
        in: query
        required: false
        schema:
          type: string
      - name: schedulerNumber
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-Media-Type:
              description: The full semantic version with the media type of the response
              schema:
                type: string
            X-STP-Code:
              description: If STP (MEP) is enabled, returns the MEP code the response
                body is associated to
              schema:
                type: string
            X-SDE-Enabled:
              description: If SDE is enabled for this page
              schema:
                type: string
          content:
            application/vnd.hedtech.integration.v1.0.0+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/partition-codes-1.0.0_get'
        '401':
          description: Failure. Unauthorized
        '500':
          description: Error
          content:
            application/vnd.hedtech.integration.errors.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/errors-2.0.0'
  /qapi/partition-codes:
    post:
      tags:
      - partition-codes QAPI (Query by POST)
      summary: Return resources from GTVPARS
      parameters:
      - name: content type
        in: header
        required: true
        content:
          application/vnd.hedtech.integration.v1.0.0+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/partition-codes-1.0.0_qapi_post'
      responses:
        '200':
          description: OK
          headers:
            X-Media-Type:
              description: The full semantic version with the media type of the response
              schema:
                type: string
            X-STP-Code:
              description: If STP (MEP) is enabled, returns the MEP code the response
                body is associated to
              schema:
                type: string
            X-SDE-Enabled:
              description: If SDE is enabled for this page
              schema:
                type: string
          content:
            application/vnd.hedtech.integration.v1.0.0+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/partition-codes-1.0.0_get'
        '401':
          description: Failure. Unauthorized
        '500':
          description: Error
          content:
            application/vnd.hedtech.integration.errors.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/errors-2.0.0'
components:
  schemas:
    partition-codes-1.0.0_get:
      required:
      - code
      - desc
      type: object
      properties:
        schedulerNumber:
          title: 'Scheduler

            Sequence'
          maxLength: 2
          type: number
          description: Lineage reference object of GTVPARS_SCHEDULER_NUMBER
          x-lineageReferenceObject: GTVPARS_SCHEDULER_NUMBER
        activityDate:
          title: Activity Date
          maxLength: 11
          pattern: ^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[0-1]|0[1-9]|[1-2][0-9])T(2[0-3]|[0-1][0-9]):([0-5][0-9]):([0-5][0-9])(\.[0-9]+)?(Z|[+-](?:2[0-3]|[0-1][0-9]):[0-5][0-9])?$
          type: number
          description: Lineage reference object of GTVPARS_ACTIVITY_DATE
          x-lineageReferenceObject: GTVPARS_ACTIVITY_DATE
        code:
          title: Code
          maxLength: 7
          type: string
          description: Lineage reference object of GTVPARS_CODE
          x-lineageReferenceObject: GTVPARS_CODE
        campCode:
          title: Campus
          maxLength: 30
          type: string
          description: Lineage reference object of GTVPARS_CAMP_CODE, Lookup lineage
            reference object of stvcamp
          x-lineageReferenceObject: GTVPARS_CAMP_CODE
          x-lineageLookupReferenceObject: stvcamp
        desc:
          title: Description
          maxLength: 30
          type: string
          description: Lineage reference object of GTVPARS_DESC
          x-lineageReferenceObject: GTVPARS_DESC
      additionalProperties: false
      x-lineageReferenceObject: gtvpars
    errors-2.0.0:
      required:
      - errors
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
              description:
                type: string
    partition-codes-1.0.0_qapi_post:
      type: object
      properties:
        activityDate:
          title: Activity Date
          maxLength: 11
          pattern: ^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[0-1]|0[1-9]|[1-2][0-9])T(2[0-3]|[0-1][0-9]):([0-5][0-9]):([0-5][0-9])(\.[0-9]+)?(Z|[+-](?:2[0-3]|[0-1][0-9]):[0-5][0-9])?$
          type: number
          description: Lineage reference object of GTVPARS_ACTIVITY_DATE
          x-lineageReferenceObject: GTVPARS_ACTIVITY_DATE
        campCode:
          title: Campus
          maxLength: 30
          type: string
          description: Lineage reference object of GTVPARS_CAMP_CODE, Lookup lineage
            reference object of stvcamp
          x-lineageReferenceObject: GTVPARS_CAMP_CODE
          x-lineageLookupReferenceObject: stvcamp
        code:
          title: Code
          maxLength: 7
          type: string
          description: Lineage reference object of GTVPARS_CODE
          x-lineageReferenceObject: GTVPARS_CODE
        desc:
          title: Description
          maxLength: 30
          type: string
          description: Lineage reference object of GTVPARS_DESC
          x-lineageReferenceObject: GTVPARS_DESC
        schedulerNumber:
          title: 'Scheduler

            Sequence'
          maxLength: 2
          type: number
          description: Lineage reference object of GTVPARS_SCHEDULER_NUMBER
          x-lineageReferenceObject: GTVPARS_SCHEDULER_NUMBER
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer