openapi: 3.0.0
info:
  title: receipt-queries
  description: API for TGIRCPT administrative page
  version: 1.0.0
  x-source-name: TGIRCPT
  x-source-title: Receipt Query
  x-source-system: Banner
  x-api-type: Administrative
servers:
- url: https://integrate.elluciancloud.com
  description: Ethos Integration API U.S.
- url: https://integrate.elluciancloud.ca
  description: Ethos Integration API Canada
- url: https://integrate.elluciancloud.com
  description: Ethos Integration API Europe
- url: https://integrate.elluciancloud.com.au
  description: Ethos Integration API Asia-Pacific
paths:
  /api/receipt-queries:
    get:
      tags:
      - receipt-queries
      summary: Return resources from TGIRCPT
      parameters:
      - name: limit
        in: query
        description: The maximum number of resources requesting for this result set.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The 0 based index for a collection of resources for the page
          requested.
        required: false
        schema:
          type: integer
      - name: criteria
        in: query
        description: The filter criteria. Must be a JSON representation of the property
          searching for.  This can be any of the properties listed on the URL or QAPI
          and must be a json representation that can be validated against the GET
          schema.
        required: false
        schema:
          type: string
      - name: X-SDE-Expand
        in: header
        description: The comma seperated value list of block names
        required: false
        schema:
          type: string
      - name: executeBtn
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-Media-Type:
              description: The full semantic version with the media type of the response
              schema:
                type: string
            X-STP-Code:
              description: If STP (MEP) is enabled, returns the MEP code the response
                body is associated to
              schema:
                type: string
            X-SDE-Enabled:
              description: If SDE is enabled for this page
              schema:
                type: string
          content:
            application/vnd.hedtech.integration.v1.0.0+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/receipt-queries-1.0.0_get'
        '401':
          description: Failure. Unauthorized
        '500':
          description: Error
          content:
            application/vnd.hedtech.integration.errors.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/errors-2.0.0'
  /qapi/receipt-queries:
    post:
      tags:
      - receipt-queries QAPI (Query by POST)
      summary: Return resources from TGIRCPT
      parameters:
      - name: content type
        in: header
        required: true
        content:
          application/vnd.hedtech.integration.v1.0.0+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/receipt-queries-1.0.0_qapi_post'
      responses:
        '200':
          description: OK
          headers:
            X-Media-Type:
              description: The full semantic version with the media type of the response
              schema:
                type: string
            X-STP-Code:
              description: If STP (MEP) is enabled, returns the MEP code the response
                body is associated to
              schema:
                type: string
            X-SDE-Enabled:
              description: If SDE is enabled for this page
              schema:
                type: string
          content:
            application/vnd.hedtech.integration.v1.0.0+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/receipt-queries-1.0.0_get'
        '401':
          description: Failure. Unauthorized
        '500':
          description: Error
          content:
            application/vnd.hedtech.integration.errors.v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/errors-2.0.0'
components:
  schemas:
    receipt-queries-1.0.0_get:
      type: object
      properties:
        date:
          title: Date
          maxLength: 11
          pattern: ^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[0-1]|0[1-9]|[1-2][0-9])T(2[0-3]|[0-1][0-9]):([0-5][0-9]):([0-5][0-9])(\.[0-9]+)?(Z|[+-](?:2[0-3]|[0-1][0-9]):[0-5][0-9])?$
          type: number
          description: Lineage reference object of TBVRCP1_DATE
          x-lineageReferenceObject: TBVRCP1_DATE
        feedDate:
          title: Feed Date
          maxLength: 11
          pattern: ^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[0-1]|0[1-9]|[1-2][0-9])T(2[0-3]|[0-1][0-9]):([0-5][0-9]):([0-5][0-9])(\.[0-9]+)?(Z|[+-](?:2[0-3]|[0-1][0-9]):[0-5][0-9])?$
          type: number
          description: Lineage reference object of TBVRCP1_FEED_DATE
          x-lineageReferenceObject: TBVRCP1_FEED_DATE
        feedDocCode:
          title: Feed Document
          maxLength: 8
          type: string
          description: Lineage reference object of TBVRCP1_FEED_DOC_CODE
          x-lineageReferenceObject: TBVRCP1_FEED_DOC_CODE
        sessionNumber:
          title: Session
          maxLength: 38
          type: number
          description: Lineage reference object of TBVRCP1_SESSION_NUMBER
          x-lineageReferenceObject: TBVRCP1_SESSION_NUMBER
        acctFeedInd:
          title: Tbvrcp2 Type
          maxLength: 1
          type: string
          description: Lineage reference object of TBVRCP1_ACCT_FEED_IND
          x-lineageReferenceObject: TBVRCP1_ACCT_FEED_IND
        name:
          title: Name
          maxLength: 230
          type: string
        id:
          title: ID
          maxLength: 9
          type: string
        type:
          title: Tbvrcp2 Type
          maxLength: 1
          type: string
          description: Lineage reference object of TBVRCP1_TYPE
          x-lineageReferenceObject: TBVRCP1_TYPE
        user:
          title: User
          maxLength: 49
          type: string
          description: Lineage reference object of TBVRCP1_USER
          x-lineageReferenceObject: TBVRCP1_USER
        receiptNumber:
          title: Receipt Number
          maxLength: 8
          type: number
          description: Lineage reference object of TBVRCP1_RECEIPT_NUMBER
          x-lineageReferenceObject: TBVRCP1_RECEIPT_NUMBER
      additionalProperties: false
      x-lineageReferenceObject: tbvrcp1
    errors-2.0.0:
      required:
      - errors
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
              description:
                type: string
    receipt-queries-1.0.0_qapi_post:
      type: object
      properties:
        executeBtn:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer